<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Favorite</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <div class="sonny-title">
        <a href="{{ url_for('index') }}">
        <h1>SonnySwap</h1>
        </a>
      </div>
</head>

<body>
    <nav class="navbar">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('profile') }}">Profile</a>
        <a href="{{ url_for('form') }}">+</a>
        <a id="logout" href="{{ url_for('logout') }}">Logout</a>
        <a href="{{ url_for('favorites') }}">Favorites</a>
    </nav>
<body>

</body>
</html> -->