<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <div class="sonny-title">
        <a href="{{ url_for('index') }}">
        <h1>SonnySwap</h1>
        </a>
      </div>
</head>

<body>
  {% block content %}
  {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for msg in messages %}
              <h4>{{msg}}</h4>
      {% endfor %}
  {% endif %}
  {% endwith %}
  <nav class="navbar">
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('profile') }}">Profile</a>
      <a href="{{ url_for('form') }}">+</a>
      <a id="logout" href="{{ url_for('logout') }}">Logout</a>
  </nav>
  {% endblock %}

  <div class="grid-container">
      <div class="grid-item">
          <a href="{{ url_for('common') }}">Common</a>
      </div>
      <div class="grid-item">
          <a href="{{ url_for('limited') }}">Limited</a>
      </div>
      <div class="grid-item">
          <a href="{{ url_for('discontinued') }}">Discontinued</a>
      </div>
      <div class="grid-item">
          <a href="{{ url_for('secrets') }}">Secrets</a>
      </div>
      <div class="grid-item">
          <a href="{{ url_for('robbie') }}">Robby</a>
      </div>
  </div>

<ul class="item-list">
        {% if items %}
            {% for item in items %}
                <li>
                    <div class="grid-container"></div>
                    <h3>{{ item.name }}</h3>
                        <div class="image-container">
                            {% for image in item.images %}
                                <img src="{{ image.url }}" alt="{{ item.name }} Image">
                            {% endfor %}
                        </div>
                    </div>
                    <p>User: {{ item.user }} </p>
                    <p>Series: {{ item.series }}</p>
                    <p>Category: {{ item.category }}</p>
                    <p>Market Value: ${{ item.mrk_value }}</p>
                    <i class="fa-regular fa-heart"></i>
                </li>
            {% endfor %}
        {% else %}
            <p>No Sonny items found.</p>
        {% endif %}
    </ul>

    <!-- Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 id="modal-title">Title Goes Here</h2>
            <div id="modal-details">
                <!-- Details will be filled in by JavaScript -->
            </div>
        </div>
    </div>

    <script src="../static/script/script.js"></script>
</body>
</html>